{#
/**
 * @file
 * Theme result window.
 * 
 * Available variables:
 * - validation_result: validation result from all validation levels (PROJECT, GENUS, FILE, TRAITS, VALUES).
 *   Each validation result has the following keys:
 *   - passed: boolean, true if validation passed and false otherwise.
 *   - details: text details about failed validation, empty string if validation passed.
 */
#}

{{ attach_library('trpcultivate_phenotypes/trpcultivate-phenotypes-style-result-window') }}

<details open="true" class="tcp-result-window">
  <summary>Validation Result</summary>
  <ul>
    {% for level,result in data.validation_result %}
      <li class="tcp-validate-{{ result.status }}" title="{{ result.status }}">
        {{ result.title }} 

        <p>
        {% if result.details is iterable %}
          Error(s) found in the following line number and column header. <br />
          {% for details in result.details %}
            &bull; {{ details }} <br />
          {% endfor %}
        {% else %}
          {{ result.details }}
        {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>
</details>