{#
/**
 * @file
 * Theme implementation of importer upload stages.
 *
 * Available variables:
 * - stages: array showing number of stages and title for each stage.
 * - current_stage: current stage displayed to user.
 * - header_notes: array of headers keyed by the header name. Value is description and expected value.
 * - template_file: a file name of a template file. 
 */
#}

{{ attach_library('trpcultivate_phenotypes/trpcultivate-phenotypes-style-importer-header') }}

<div id="tcp-upload-stages">
  <div>Upload Stage {{data.current_stage}} of {{data.stages|length}}</div>
  <div> 
    {% for stage_no,stage_title in data.stages %}
    <div class="{{(stage_no <= data.current_stage) ? 'stage-current' : 'stage-upcoming'}}" title="{{stage_title}}">&nbsp;</div>
    {% endfor %}
  </div>
</div>

<div id="tcp-header-notes">
  <p>This should be a tab-separated file with the following columns:</p>
  <ol id="tcp-header-notes">
    {% for header,description in data.headers %}
    <li>
      <strong>{{header}}</strong>: {{description}}
    </li>  
    {% endfor %}
  </ol>
</div>

<div id="tcp-template-file">
  <a href="{{data.template_file}}" target="_blank">Download a template file</a>
</div>

<br />